<div class="container">
  <nav>
    <div class="logo">
      <img src="https://1t4um7.csb.app/assets/Logo64x64.png" alt="logo" />
      <h1>LOGO</h1>
    </div>
    <ul>
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="services">Entrega</a>
      </li>
      <li>
        <a routerLink="maintenance">Manutenção</a>
      </li>
      <li>
        <a routerLink="report">Relatório</a>
      </li>
      <li class="logout">
        <a routerLink="login" (click)="logout()">Sair</a>
      </li>
    </ul>
    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </nav>
  <div class="menubar">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li class="logout">
        <a routerLink="login" (click)="logout()">Sair</a>
      </li>
    </ul>
  </div>
</div>
